
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>forget</title>
</head>
<body>
    <div> 
        <h4>This is our forget page</h4>
    </div>
</body>
</html>
